name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    name: Build App
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Generate Debug Keystore
      run: |
        mkdir -p ~/.android/
        if [ ! -f ~/.android/debug.keystore ]; then
          keytool -genkey -v -keystore ~/.android/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"
        fi

    - name: Grant execute permission for gradlew
      run: chmod +x lsposed-module/gradlew

    - name: Build Release APK
      run: |
        cd lsposed-module
        ./gradlew assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v5
      with:
        name: app-release
        path: lsposed-module/app/build/outputs/apk/release/*.apk
